body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html, body, #root {
    height: 100%;
    background-color: #081c24;
}
.App {
    min-height: 100%;
    color: white;
    padding-bottom: 100px;
}
h2 {
    text-align: left;
}
.header {
    min-height: 150px;
}
.header.main {
    background-image: url('./background.svg');
}
.searchArea {
    height: 50px;
}
.searchArea input {
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    border: 3px;
}
.moviesSearchResults {
    padding-left: 20px;
    padding-right: 20px;
}
.movieGrid {
    display: grid;
    flex-direction: column;
    grid-gap: 20px;
    padding: 10px;
}

@media (max-width : 500px) {
    .movieGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media  (min-width : 500px) and (max-width : 680px) {
    .movieGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media  (min-width : 680px) and (max-width : 980px) {
    .movieGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width : 980px) and (max-width : 1280px){
    .movieGrid {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width : 1280px) {
    .movieGrid {
        grid-template-columns: repeat(8, 1fr);
    }
}
.logo {
    height: 125px;
    padding: 70px;
}
.backIcon {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

.searchIcon {
    position: relative;
    width: 30px;
    top: -33px;
    left: -10px;
    float: right;
}
.movieGridItem {
    list-style: none;
    text-align: left;
}

.movieGridItem img:hover{
    cursor: pointer;
}
.movieItemPopularity {
    border-radius: 8px;
    position: absolute;
    margin: 5px;
    padding: 2px 7px;
    font-size: 12px;
}
.movieItemPopularity.good {
    background-color: forestgreen;
}
.movieItemPopularity.average {
    background-color: purple;
}
.movieItemPopularity.belowAverage {
    background-color: orangered;
}
.movieItemPopularity.bad {
    background-color: red;
}
.movieImageAndTitle {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.releaseDate {
    margin-right: 10px;
}
.overview {
    text-align: left;
    margin-left: 20px;
}
.movieImageAndTitle img{
    margin-top: -70px;
}
.movieDetailsTitle {
    padding-left: 10px;
}
.poster img {
    border-radius: 5px;
    object-fit: cover;
    max-width: 100%;
}

.movieTitle {
    padding-top: 5px;
}
.movieDetails {
    opacity: 0.7;
}
.movieItemDetails {
    min-height: 100%;
    color: white;
}
.movieItemDetails .poster img {
    width: 150px;
}
.movieItemDetails .header {
    object-fit: cover;
    overflow: hidden;
    height: 200px;
}
.movieItemDetails .header img {
    width: 100%;
}

hr {

    opacity: .7;
    margin: 10px;
}
.lds-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 100px;
    height: 100px;
}
.lds-ring div {
    color: white;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}